    <div id="carousel-area">
      <div id="carousel-slider" class="carousel slide carousel-fade" data-ride="carousel" data-interval="10000">
        <ol class="carousel-indicators">
          <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-slider" data-slide-to="1"></li>
          <li data-target="#carousel-slider" data-slide-to="2"></li>
          <li data-target="#carousel-slider" data-slide-to="3"></li>
        </ol>
        
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item carousel-agency carousel-0 active">
            <div class="carousel-caption text-left">
              <h2 class="wow fadeInRight" data-wow-delay="0.4s">We Deliver Working Software</br>Tailored To Your Needs</h2>
              <p class="wow fadeInRight" data-wow-delay="0.6s">That's what we do! We rapidly deliver working software that drives value to your organization through</br>satisfactory client experience powered by cutting-edge technology, design and innovative thinking.</p>
              <p class="wow fadeInRight" data-wow-delay="0.9s">Find out how we create bespoke software solutions tailored to fit your requirements!</p>
              <a href="#services" class="btn btn-lg btn-border-filled wow page-scroll" data-wow-delay="0.9s">Learn How</a>
              <a href="tel:+44-20-3151-7051" class="btn btn-lg btn-border wow page-scroll" data-wow-delay="1.2s"><i class="icon ion-md-call"></i> Call Us</a>
            </div>
            <div class="overlay"></div>
            <video preload="auto" autoplay="true" muted="true" loop="true" data-wow-delay="2s">
              <source src="{{site.url}}/assets/videos/bespoke-software-development.mp4" type="video/mp4">
            </video>
          </div>
          <div class="carousel-item carousel-agency carousel-1">
            <div class="carousel-caption text-left">
              <h2 class="wow fadeInRight" data-wow-delay="0.4s">Launch & Grow</br>Your Tech Business</h2>
              <p class="wow fadeInRight" data-wow-delay="0.6s">Starting a tech business is a huge commitment. We help you to build</br>a sustainable development environment for your project with technical excellence and good design.</br>So you can save the time and energy needed to start and grow your business!</p>
              <a href="#services" class="btn btn-lg btn-border-filled wow page-scroll" data-wow-delay="0.9s">Get Started</a>
              <a href="#map-area" class="btn btn-lg btn-border wow page-scroll" data-wow-delay="1.2s">Contact Us</a>
            </div>
          </div>
          <div class="carousel-item carousel-agency carousel-2">
            <div class="carousel-caption text-right">
              <h2 class="wow fadeInLeft" data-wow-delay="0.6s">Build A Strong Team<br>Full Of Talent</h2>
              <p class="wow fadeInUp" data-wow-delay="0.9s">We help you to build your projects around motivated and talented individuals for your tech startup</br>for finding the <i>`chemistry`</i> that makes a team able to do the improbable.</p>
              <a href="#map-area" class="btn btn-lg btn-border wow page-scroll" data-wow-delay="1.2s">Contact Us</a>
            </div>
          </div>
          <div class="carousel-item carousel-agency carousel-3">
            <div class="carousel-caption text-left">
              <h2 class="wow fadeInRight" data-wow-delay="0.6s">From Idea To Production<br>Bespoke Software Development</h2>
              <p class="wow fadeInUp" data-wow-delay="0.6s">Differentiation is key for success. We have a track record of helping organisations of all sizes</br>
                aiming differentiate with purpose-driven products. We help you all way from idea to the production.</p>
                <a href="tel:+44-20-3151-7051" class="btn btn-lg btn-border wow fadeInUp" data-wow-delay="0.9s"><i class="icon ion-md-call"></i> Call Us</a>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-slider" role="button" data-slide="prev">
            <span class="carousel-control" aria-hidden="true"><i class="icon ion-md-arrow-dropleft-circle"></i></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-slider" role="button" data-slide="next">
            <span class="carousel-control" aria-hidden="true"><i class="icon ion-md-arrow-dropright-circle"></i></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>