    <!-- Cookie Consent, nothing for you to replace here. Remove it if you want  -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#eb6c44",
          "text": "#ffffff"
        },
        "button": {
          "background": "#4b3cff",
          "text": "#ffffff"
        }
      },
      "position": "bottom-left",
      "content": {
        "href": "{{site.url}}{% link _pages/privacy-policy.md %}"
      }
    })});
    </script>