    <!-- Footer Section Start -->
    <footer>
      <!-- Footer Area Start -->
      <section class="footer-Content">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Software Development</h3>
                <ul class="menu">
                  <li><a href="{{site.url}}/services/bespoke-software-development.html">Bespoke Software Development</a></li>
                  <li><a href="{{site.url}}/services.html">Build A Software Development Team</a></li>
                  <li><a href="{{site.url}}/services.html">Hire Software Developers</a></li>
                  <li><a href="{{site.url}}/services.html">Agile Software Development</a></li>
                  <li><a href="{{site.url}}/services.html">Web Design & Development</a></li>
                  <li><a href="{{site.url}}/services.html">Mobile Application Development</a></li>
                  <li><a href="{{site.url}}/services.html">Application Modernization</a></li>
                  <li><a href="{{site.url}}/services.html">Test Automation</a></li>
                  <li><a href="{{site.url}}/services.html">Application Maintenance</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Consultancy</h3>
                <ul class="menu">
                  <li><a href="{{site.url}}/services.html">Early Stage Innovation</a></li>
                  <li><a href="{{site.url}}/services.html">Startup Consultancy</a></li>
                  <li><a href="{{site.url}}/services.html">Digital Transformation</a></li> 
                  <li><a href="{{site.url}}/services.html">Software Development Consultancy</a></li>
                  <li><a href="{{site.url}}/services.html">DevOps Consultancy</a></li>
                  <li><a href="{{site.url}}/services.html">AWS Cloud Consultancy</a></li>
                  <li><a href="{{site.url}}/services.html">Azure Cloud Consultancy</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Company</h3>
                <ul class="menu">
                  <li><a href="{{site.url}}/about.html">About</a></li>
                  <li><a href="{{site.url}}/services.html">Services</a></li>
                  <li><a href="{{site.url}}/clients.html">Clients</a></li>
                  <li><a href="{{site.url}}/insights.html">Insights</a></li>
                  <li><a href="{{site.url}}/contact.html">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">{{site.companyname}}</h3>
                <div class="textwidget">
                  <p><i class="icon ion-md-pin"></i> 27 Old Gloucester St, Holborn, London WC1N 3AF</p>
                  <p><a href="tel:+44-20-3151-7051"><i class="icon ion-md-call"></i> 020 3151 7051</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Copyright Start  -->
          <div class="copyright">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="site-info float-left">
                    <p>
                      <a href="{{site.url}}{{site.baseurl}}/">
                          &copy; {{site.companyname}}. 
                      </a>
                      <a href="{{site.url}}{{site.baseurl}}/privacy-policy.html">
                          Privacy Policy.
                      </a>
                    </p>
                  </div>
                  <div class="float-right">
                    <ul class="footer-social">
                      <li><a class="linkedin" rel="nofollow" target="_blank" href="https://www.linkedin.com/company/tigillo"><i class="icon ion-logo-linkedin"></i></a></li>
                      <li><a class="twitter" rel="nofollow" target="_blank" href="https://twitter.com/tigillocom"><i class="icon ion-logo-twitter"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Copyright End -->
      </section>
      <!-- Footer area End -->

    </footer>
    <!-- Footer Section End --> 