    <!-- Footer Section Start -->
    <footer>
      <!-- Footer Area Start -->
      <section class="footer-Content">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Software Development</h3>
                <ul class="menu">
                  <li><a href="{{site.url}}{% link _software-development/bespoke-software-development.html %}">Bespoke Software Development</a></li>
                  <li><a href="{{site.url}}{% link _software-development/agile-software-development.html %}">Agile Software Development</a></li>
                  <li><a href="{{site.url}}{% link _software-development/web-design-and-development.html %}">Web Design & Development</a></li>
                  <li><a href="{{site.url}}{% link _software-development/mobile-application-development.html %}">Mobile Application Development</a></li>
                  <li><a href="{{site.url}}{% link _software-development/php-development.html %}">PHP Development Services</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Software Quality Assurance</h3>
                <ul class="menu">
                  <li><a href="{{site.url}}{% link _software-testing/functional-testing.html %}">Functional Testing</a></li>
                  <li><a href="{{site.url}}{% link _software-testing/exploratory-testing.html %}">Exploratory Testing</a></li>
                  <li><a href="{{site.url}}{% link _software-testing/regression-testing.html %}">Regression Testing</a></li>
                  <li><a href="{{site.url}}{% link _software-testing/automated-testing.html %}">Automated Testing</a></li>
                  <li><a href="{{site.url}}{% link _software-testing/performance-testing.html %}">Performance Testing</a></li>
                  <li><a href="{{site.url}}{% link _software-testing/e2e-test-automation.html %}">E2E Test Automation</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Software Operations</h3>
                <ul class="menu">
                  <li><a href="{{site.url}}{% link _software-operations/devops-consulting.html %}">DevOps Consulting</a></li>
                  <li><a href="{{site.url}}{% link _software-operations/aws-cloud-operations.html %}">AWS Cloud Operations</a></li>
                  <li><a href="{{site.url}}{% link _software-operations/azure-cloud-operations.html %}">Azure Cloud Operations</a></li>
                  <li><a href="{{site.url}}{% link _software-operations/cicd-pipeline-development.html %}">CI/CD Pipeline Development</a></li>
                  <li><a href="{{site.url}}{% link _software-operations/cloud-migration.html %}">Cloud Migration</a></li>
                  <li><a href="{{site.url}}{% link _software-operations/infrastructure-as-code.html %}">Infrastructure as Code</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">IT Staffing</h3>
                <ul class="menu">
                  <li><a href="{{site.url}}{% link _it-staffing/build-a-software-development-team.html %}">Build A Software Development Team</a></li>
                  <li><a href="{{site.url}}{% link _it-staffing/hire-software-engineers.html %}">Hire Software Engineers</a></li>
                  <li><a href="{{site.url}}{% link _it-staffing/hire-test-automation-engineers.html %}">Hire Test Automation Engineers</a></li>
                  <li><a href="{{site.url}}{% link _it-staffing/hire-platform-and-devops-engineers.html %}">Hire Platform & DevOps Engineers</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Startup Consulting</h3>
                <ul class="menu">
                  <li><a href="{{site.url}}{% link _startup-consulting/market-validation.html %}">Market Validation</a></li>
                  <li><a href="{{site.url}}{% link _startup-consulting/prototype-development.html %}">Prototype Development</a></li>
                  <li><a href="{{site.url}}{% link _startup-consulting/mvp-development.html %}">MVP Development</a></li>
                  <li><a href="{{site.url}}{% link _startup-consulting/product-development.html %}">Product Development</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Enterprise Consulting</h3>
                <ul class="menu">
                  <li><a href="{{site.url}}{% link _enterprise-consulting/application-modernization.html %}">Application Modernization</a></li>
                  <li><a href="{{site.url}}{% link _enterprise-consulting/application-maintenance.html %}">Application Maintenance</a></li>
                  <li><a href="{{site.url}}{% link _enterprise-consulting/agile-transformation.html %}">Agile Transformation</a></li>
                  <li><a href="{{site.url}}{% link _enterprise-consulting/digital-transformation.html %}">Digital Transformation</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Company</h3>
                <ul class="menu">
                  <li><a href="{{site.url}}{% link _pages/about.html %}">About</a></li>
                  <li><a href="{{site.url}}{% link _pages/services.html %}">Services</a></li>
                  <li><a href="{{site.url}}{% link _pages/clients.html %}">Clients</a></li>
                  <li><a href="{{site.url}}{% link _pages/insights.html %}">Insights</a></li>
                  <li><a href="{{site.url}}{% link _pages/contact.html %}">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">{{site.companyname}}</h3>
                <div class="textwidget">
                  <p><i class="icon ion-md-pin"></i> 27 Old Gloucester St, Holborn, London WC1N 3AF</p>
                  <p><a href="tel:+44-20-3151-7051"><i class="icon ion-md-call"></i> 020 3151 7051</a></p>
                </div>
              </div>
            </div>
          </div>
          <!-- Copyright Start  -->
          <div class="copyright">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="site-info float-left">
                    <p>
                      <a href="{{site.url}}">
                          &copy; {{site.companyname}}. 
                      </a> | 
                      <a href="{{site.url}}{% link _pages/privacy-policy.md %}">
                          Privacy Policy
                      </a> | 
                      <a href="{{site.url}}{% link _pages/modern-slavery-statement.md %}">
                          Modern Slavery Statement
                      </a>
                    </p>
                  </div>
                  <div class="float-right">
                    <ul class="footer-social">
                      <li><a class="linkedin" rel="nofollow" target="_blank" href="https://www.linkedin.com/company/tigillo"><i class="icon ion-logo-linkedin"></i></a></li>
                      <li><a class="twitter" rel="nofollow" target="_blank" href="https://twitter.com/tigillocom"><i class="icon ion-logo-twitter"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Copyright End -->
      </section>
      <!-- Footer area End -->

    </footer>
    <!-- Footer Section End --> 