      <nav class="navbar navbar-expand-md fixed-top scrolling-navbar{% if page.layout == "plain" or page.layout == "page" %} menu-bg{% endif %} ">
        <div class="container">
          <a href="/" class="navbar-brand"><img src="{{site.url}}/{{site.logo}}" alt="{{site.name}}"> {{site.shortname}}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="lni-menu"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link{% if page.active == "home" %} active{% endif %}" href="{{site.url}}/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link{% if page.active == "about" %} active{% endif %}" href="{{site.url}}{% link _pages/about.html %}">About</a>
              </li>
              <li class="nav-item">
                <div class="dropdown">
                  <a class="nav-link{% if page.active == "services" %} active{% endif %}" href="{{site.url}}{% link _pages/services.html %}">Services<i class="dd-toggle icon ion-md-arrow-dropdown"></i></a>
                  <div class="dropdown-menu dropdown-multicol">
                    <div class="dropdown-row">
                    <div class="dropdown-col">
                      <p>Software Development</p>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _software-development/bespoke-software-development.html %}">Bespoke Software Development</a>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _software-development/agile-software-development.html %}">Agile Software Development</a>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _software-development/web-design-and-development.html %}">Web Design & Development</a>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _software-development/mobile-application-development.html %}">Mobile Application Development</a>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _software-development/php-development.html %}">PHP Development Services</a>
                    </div>
                    <div class="dropdown-col">
                      <p>Software Testing</p>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _software-testing/functional-testing.html %}">Functional Testing</a>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _software-testing/exploratory-testing.html %}">Exploratory Testing</a>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _software-testing/regression-testing.html %}">Regression Testing</a>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _software-testing/automated-testing.html %}">Automated Testing</a>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _software-testing/performance-testing.html %}">Performance Testing</a>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _software-testing/e2e-test-automation.html %}">E2E Test Automation</a>
                    </div>
                    <div class="dropdown-col">
                      <p>Software Operations</p>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _software-operations/devops-consulting.html %}">DevOps Consulting</a>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _software-operations/aws-cloud-operations.html %}">AWS Cloud Operations</a>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _software-operations/azure-cloud-operations.html %}">Azure Cloud Operations</a>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _software-operations/cicd-pipeline-development.html %}">CI/CD Pipeline Development</a>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _software-operations/cloud-migration.html %}">Cloud Migration</a>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _software-operations/infrastructure-as-code.html %}">Infrastructure as Code</a>
                    </div>
                  </div>
                  <div class="dropdown-row">
                    <div class="dropdown-col">
                      <p>IT Staffing</p>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _it-staffing/build-a-software-development-team.html %}">Build A Software Development Team</a>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _it-staffing/hire-software-engineers.html %}">Hire Software Engineers</a>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _it-staffing/hire-test-automation-engineers.html %}">Hire Test Automation Engineers</a>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _it-staffing/hire-platform-and-devops-engineers.html %}">Hire Platform & DevOps Engineers</a>
                    </div>
                    <div class="dropdown-col">
                      <p>Startup Consulting</p>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _startup-consulting/market-validation.html %}">Market Validation</a>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _startup-consulting/prototype-development.html %}">Prototype Development</a>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _startup-consulting/mvp-development.html %}">MVP Development</a>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _startup-consulting/product-development.html %}">Product Development</a>
                    </div>
                    <div class="dropdown-col">
                      <p>Enterprise Consulting</p>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _enterprise-consulting/application-modernization.html %}">Application Modernization</a>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _enterprise-consulting/application-maintenance.html %}">Application Maintenance</a>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _enterprise-consulting/agile-transformation.html %}">Agile Transformation</a>
                      <a class="nav-link dropdown-item" href="{{site.url}}{% link _enterprise-consulting/digital-transformation.html %}">Digital Transformation</a>
                    </div>
                  </div>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link{% if page.active == "clients" %} active{% endif %}" href="{{site.url}}{% link _pages/clients.html %}">Clients</a>
              </li>
              <li class="nav-item">
                <a class="nav-link{% if page.active == "insights" %} active{% endif %}" href="{{site.url}}{% link _pages/insights.html %}">Insights</a>
              </li>
              <li class="nav-item">
                <a class="nav-link{% if page.active == "contact" %} active{% endif %}" href="{{site.url}}{% link _pages/contact.html %}">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="" title="Book Free Discovery Meeting" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/tigillo/free-discovery'});return false;"><i class="icon ion-md-calendar"></i> <span>Book A Meeting</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" title="Call Us" href="tel:020-3151-7051"><i class="icon ion-md-call"></i> <span>020 3151 7051</span></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      